{% extends 'composants/navbar.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

    <div class="d-grid gap-2 col-6 mx-auto " style="margin-top: 80px">
        {{ form_start(searchform)}}
    </div>

{% endblock %}